{
  "log": { "level": "debug", "timestamp": true },
  "dns": {
    "servers": [
      { "tag": "remote-dns", "type": "tls", "server": "8.8.8.8", "detour": "selected-native-out" },
      { "tag": "remote-dns-fallback", "type": "tls", "server": "8.8.4.4", "detour": "selected-native-out" },
      { "tag": "direct-dns", "type": "local" }
    ],
    "final": "remote-dns",
    "strategy": "ipv4_only"
  },
  "inbounds": [
    {
      "type": "redirect",
      "tag": "vpnkit-redirect-in",
      "listen": "0.0.0.0",
      "listen_port": 2082
    },
    {
      "type": "direct",
      "tag": "vpnkit-dns-in",
      "listen": "0.0.0.0",
      "listen_port": 5353,
      "network": "udp"
    },
    {
      "type": "socks",
      "tag": "vpnkit-socks-in",
      "listen": "127.0.0.1",
      "listen_port": 2080
    }
  ],
  "outbounds": [
    {{SELECTED_NATIVE_OUT_JSON}},
    { "type": "direct", "tag": "direct-out" },
    { "type": "block", "tag": "block-out" }
  ],
  "route": {
    "default_domain_resolver": "direct-dns",
    "rules": [
      { "inbound": "vpnkit-dns-in", "action": "hijack-dns" },
      { "protocol": "dns", "action": "hijack-dns" },
      { "inbound": ["vpnkit-redirect-in", "vpnkit-socks-in"], "action": "sniff", "timeout": "1s" },
      { "rule_set": "vpnkit-adblock", "outbound": "block-out" },
      { "rule_set": "vpnkit-dev-direct", "outbound": "direct-out" },
      { "rule_set": "geoip-ru", "outbound": "direct-out" },
      { "rule_set": "geosite-category-ru", "outbound": "direct-out" }
    ],
    "rule_set": [
      {
        "type": "local",
        "tag": "vpnkit-adblock",
        "format": "source",
        "path": "/etc/sing-box/rule-sets/vpnkit-adblock.json"
      },
      {
        "type": "local",
        "tag": "vpnkit-dev-direct",
        "format": "source",
        "path": "/etc/sing-box/rule-sets/vpnkit-dev-direct.json"
      },
      {
        "type": "remote",
        "tag": "geoip-ru",
        "format": "binary",
        "url": "https://raw.githubusercontent.com/runetfreedom/russia-v2ray-rules-dat/release/sing-box/rule-set-geoip/geoip-ru.srs",
        "download_detour": "direct-out"
      },
      {
        "type": "remote",
        "tag": "geosite-category-ru",
        "format": "binary",
        "url": "https://raw.githubusercontent.com/runetfreedom/russia-v2ray-rules-dat/release/sing-box/rule-set-geosite/geosite-category-ru.srs",
        "download_detour": "direct-out"
      }
    ],
    "final": "selected-native-out"
  }
}
