{
  "log": { "level": "debug", "timestamp": true },
  "dns": {
    "servers": [
      { "tag": "local-dns", "type": "local" }
    ],
    "final": "local-dns",
    "strategy": "ipv4_only"
  },
  "inbounds": [
    {
      "type": "tun",
      "tag": "vpnkit-tun-in",
      "interface_name": "sb-tun0",
      "address": ["172.19.0.1/30"],
      "auto_route": false,
      "strict_route": false,
      "stack": "mixed"
    },
    {
      "type": "socks",
      "tag": "vpnkit-socks-in",
      "listen": "127.0.0.1",
      "listen_port": 2080
    }
  ],
  "outbounds": [
    {{SELECTED_NATIVE_OUT_JSON}},
    { "type": "direct", "tag": "direct-out" },
    { "type": "block", "tag": "block-out" }
  ],
  "route": {
    "default_domain_resolver": "local-dns",
    "rules": [
      { "inbound": ["vpnkit-tun-in", "vpnkit-socks-in"], "action": "sniff", "timeout": "1s" }
    ],
    "rule_set": [],
    "final": "selected-native-out"
  }
}
